* {
    
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

p {
    color: rgb(238, 20, 220);

    font-size: 20px;
    margin: 20px;
    font-style: italic;
}

h1 {
    color: green;
    margin: 20px;
    font-weight: bold;
}
